[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.4.0"
tensorflow-probability = "==0.12.1"
gym = "*"
gym-cartpole-swingup = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
sklearn = "*"
stable-baselines3 = "*"
ipykernel = "*"
scipy = "*"
stable-baselines = "*"

[dev-packages]

[requires]
python_version = "3.7"
